# Build directories
./obj/
build/
bin/
objs/

# Visual Studio Code files
.vscode/

# Temporary files
*.tmp
*.temp
*.log
*.o
*.obj
*.exe
*.out
*.dSYM/
.nfs*

# Program output directory
output/

# macOS
.DS_Store